#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
html,body{
  min-height: 100%
}
body{
  background-image: linear-gradient(135deg, #FFD26F 0%, #3677FF 100%);
  background-repeat: no-repeat
}
.row{
  margin: 0
}
.infinited{
  animation-iteration-count: infinite
}
.nodisplay{
  display: none;
}
@media screen and (min-width: 920px){
  .visible-lg-inline{
    display: inline !important;
  }
}
.nav-row{
  width: 100%;
  align-items: center
}
.navbar .search-bar{
  float: right;
  transition: all 1s ease;
  width: 150px
}
.navbar .search-bar:focus{
  width: 100%
}
.main-content{
  margin-top: 48px
}
.nav-row>.setting{
  position: relative;
}
.nav-row>.setting label{
  margin-bottom: 0
}
.nav-row>.setting input[type='text']{
  position: absolute;
  width: 0;
  height: 0;
  border: none
}
.nav-row>.setting input[type='text']:focus+.setting-items{
  height: 160px;
  padding-top: 10px;
}
.nav-row>.setting>.setting-items{
  position: absolute;
  right: 0;
  top: 28px;
  min-width: 205px;
  height: 0;
  transition: height .4s ease-out,padding .2s .3s ease-out;
  overflow: hidden;
  background: rgba(199,199,199,.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-clip: content-box;
  padding-top: 0px;
}
.nav-row>.setting>.setting-items::before{
  position: absolute;
  content: '';
  border: 10px solid #aaa;
  border-color: transparent transparent rgba(199,199,199,.7) transparent;
  right: 0;
  top: -10px;

}
.nav-row>.setting>.setting-items>.setting-item{
  line-height: 40px;
}
.nav-row>.setting>.setting-items>.setting-item>a{
  display: block;
}
.mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(233, 233, 233, .4);
  z-index: 999;
}
.mask>.loader-wrap{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  width: 80%;
  height: 80%;
}
.mask>.loader-wrap>.title{
  /* display: block; */
  /* margin-top: 10px; */
  text-align: center;
  position: absolute;
  top: 60%;
  left: 6px;
  /* transform: translate3d(0,100%,0); */
  width: 100px;
  width: 100%;
  animation: tada 1s infinite;
  /* color:  */
}
.mask>.loader-wrap>.item-group{
  /* display: block; */
  /* margin-top: 10px; */
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0)
}
@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1)
  }
  10%,
  20% {
    transform: scale3d(.9, .9, 1) rotate3d(0, 0, 1, -3deg)
  }
  30%,
  50%,
  70%,
  90% {
    transform: rotate3d(0, 0, 1, 3deg)
  }
  40%,
  60%,
  80% {
    transform: rotate3d(0, 0, 1, -3deg)
  }
  100% {
    transform: rotate3d(0, 0, 0, 0deg)
  }
}
.mask>.loader-wrap>.item-group>.item{
  width: 33.3%;
  height: 33.3%;
  position: absolute;
}
.mask>.loader-wrap>.item-group>.item:nth-child(1){
  background: pink;
  animation: item1 2s ease infinite
}
@keyframes item1{
  0%{
    transform: translate3d(0,0,0) rotate3d(0,0,0,-90deg) scale3d(1,1,1);
  }
  25%{
    transform: translate3d(200%,0,0) rotate3d(0,0,1,-90deg) scale3d(.5,.5,1);
    /* animation-timing-function: cubic-bezier(.08,.47,.46,-0.19) */
  }
  50%{
    transform: translate3d(200%,200%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
    /* animation-timing-function: cubic-bezier(.18,.65,.72,.27) */
  }
  75%{
    transform: translate3d(0,200%,0) rotate3d(0,0,1,-270deg) scale3d(.5,.5,1);
    /* animation-timing-function: cubic-bezier(.08,.47,.46,-0.19) */
  }
  100%{
    transform: translate3d(0,0,0) rotate3d(0,0,1,-360deg) scale3d(1,1,1);
    /* animation-timing-function: cubic-bezier(.08,.47,.46,-0.19) */
  }
}
.mask>.loader-wrap>.item-group>.item:nth-child(2){
  background: green;
  animation: item2 2s infinite
}
@keyframes item2{
  0%{
    transform: translate3d(200%,0,0) rotate3d(0,0,1,-90deg) scale3d(.5,.5,1);
    /* animation-timing-function: cubic-bezier(.08,.47,.46,-0.19) */
  }
  25%{
    transform: translate3d(200%,200%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
    /* animation-timing-function: cubic-bezier(.18,.65,.72,.27) */
  }
  50%{
    transform: translate3d(0,200%,0) rotate3d(0,0,1,-270deg) scale3d(.5,.5,1);
    /* animation-timing-function: cubic-bezier(.08,.47,.46,-0.19) */
  }
  75%{
    transform: translate3d(0,0,0) rotate3d(0,0,1,-360deg) scale3d(1,1,1);
    /* animation-timing-function: cubic-bezier(.08,.47,.46,-0.19) */
  }
  100%{
    transform: translate3d(200%,0,0) rotate3d(0,0,1,-450deg) scale3d(.5,.5,1);
  }
}
.mask>.loader-wrap>.item-group>.item:nth-child(3){
  background: yellow;
  animation: item3 2s infinite
}
@keyframes item3{
  0%{
    transform: translate3d(200%,200%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
    /* animation-timing-function: cubic-bezier(.18,.65,.72,.27) */
  }
  25%{
    transform: translate3d(0,200%,0) rotate3d(0,0,1,-270deg) scale3d(.5,.5,1);
    /* animation-timing-function: cubic-bezier(.08,.47,.46,-0.19) */
  }
  50%{
    transform: translate3d(0,0,0) rotate3d(0,0,1,-360deg) scale3d(1,1,1);
    /* animation-timing-function: cubic-bezier(.08,.47,.46,-0.19) */
  }
  75%{
    transform: translate3d(200%,0,0) rotate3d(0,0,1,-450deg) scale3d(.5,.5,1);
  }
  100%{
    transform: translate3d(200%,200%,0) rotate3d(0,0,1,-540deg) scale3d(1,1,1);
  }
}
.mask>.loader-wrap>.item-group>.item:nth-child(4){
  background: blue;
  animation: item4 2s infinite
}
@keyframes item4{
  0%{
    transform: translate3d(0,200%,0) rotate3d(0,0,1,-270deg) scale3d(.5,.5,1);
    /* animation-timing-function: cubic-bezier(.08,.47,.46,-0.19) */
  }
  25%{
    transform: translate3d(0,0,0) rotate3d(0,0,1,-360deg) scale3d(1,1,1);
    /* animation-timing-function: cubic-bezier(.08,.47,.46,-0.19) */
  }
  50%{
    transform: translate3d(200%,0,0) rotate3d(0,0,1,-450deg) scale3d(.5,.5,1);
  }
  75%{
    transform: translate3d(200%,200%,0) rotate3d(0,0,1,-540deg) scale3d(1,1,1);
  }
  100%{
    transform: translate3d(0,200%,0) rotate3d(0,0,1,-630deg) scale3d(.5,.5,1);
  }
}